.playground {
    textarea {
        height: 200px;
        width: 100%;
    }

    .message {
        display: inline-block;
        margin-bottom: 10px;

        .delete-link {
            color: red;
            display: none;
        }

        &:before {
            display: inline;
            content: ' - ';
        }
        &:hover .delete-link {
            display: inline;
        }
    }

    .messages {
        margin-top: 30px;
    }
}