<section ng-controller="LoginCtrl">
    <div class="row">
        <form class="col-md-offset-4 col-md-4" ng-submit="authenticate(user)">
            <div ng-bind='loginFailure' class="error-message"></div>
            <div class="text-center" ng-show='loading'><img src="/assets/images/spinner.gif" alt="Loading spinner"/></div>
            <div class="form-group">
                <label for="user-email">Email:</label>
                <input id="user-email" class="form-control" type="email" ng-model="user.email" required="" />
            </div>
            <div class="form-group">
                <label for="user-password">Password:</label>
                <input id="user-password" class="form-control" type="password" ng-model="user.password" required="" />
            </div>
            <div class="form-group text-center">
                <input class="btn btn-lg btn-info" type="submit" value="Login" />
            </div>
        </form>
    </div>
</section>