<div class="container">

    <div ng-include="'app/components/navbar/navbar.html'"></div>

    <div class="row">
    <form ng-submit="addPocket(pocket)">
        <label for="name">Name:</label>
        <input id="name" type="text" ng-model="pocket.name" /><br>
        <label for="number">Balance:</label>
        <input id="number" type="number" ng-model="pocket.balance" /><br>
        <input type="submit" value="Create" />
    </form>
    </div>

    <hr>

    <div ng-include="'app/components/footer/footer.html'"></div>
</div>
