<form class="col-md-offset-4 col-md-4" ng-submit="addMovement(movement)">
    <div class="form-group">
        <label for="movement-source">Source pocket:</label>
        <select id="movement-source" class="form-control" ng-model="movement.source" ng-options="pocket.$id as pocket.name for pocket in pockets">
        </select>
    </div>
    <div class="form-group">
        <label for="movement-destination">Destination pocket:</label>
        <select id="movement-destination" class="form-control" ng-model="movement.destination" ng-options="pocket.$id as pocket.name for pocket in pockets">
        </select>
    </div>
    <div class="form-group">
        <label for="movement-amount">Amount:</label>
        <input id="movement-amount" class="form-control" type="number" ng-model="movement.amount" required="" min="1"/>
    </div>
    <div class="form-group">
        <input class="btn btn-default btn-info" type="submit" value="Create movement" />
        <input type="button" class="btn btn-default" ng-click='hideForm()' value="Cancel" />
    </div>
</form>