<form class="col-md-6" ng-submit="addAction(action)">
    <div class="form-group">
        <label for="action-pocket">Pocket:</label>
        <select id="action-pocket" class="form-control" ng-model="action.pocket" ng-options="pocket.$id as pocket.name for pocket in pockets">
        </select>
    </div>
    <div class="form-group">
        <label for="action-amount">Amount:</label>
        <input id="action-amount" class="form-control" type="number" ng-model="action.amount" required="" />
    </div>
    <div class="form-group">
        <label for="action-direction">Direction:</label>
        <select id="action-direction" class="form-control" ng-model="action.direction">
            <option value="plus" selected>plus</option>
            <option value="minus">minus</option>
        </select>
    </div>
    <div class="form-group">
        <input class="btn btn-default btn-info" type="submit" value="Create action" />
        <input type="button" class="btn btn-default" ng-click='hideForm()' value="Cancel" />
    </div>
</form>