<section ng-controller="AddActionsCtrl">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group text-center">
                <button class="btn btn-lg btn-default btn-info" ng-click='showActionForm()'>Create action</button>
                <button class="btn btn-lg btn-default btn-info" ng-click='showMovementForm()'>Create movement</button>
            </div>
        </div>        
    </div>

    <div class="row">
        <add-action-form ng-show='actionFormVisible'></add-action-form>
        <add-movement-form ng-show='movementFormVisible'></add-movement-form>
    </div>
</section>